.navbar-default .navbar-nav>li>a {
  color: #777;
}
.navbar-default .navbar-brand {
  color: #777;
  font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}
.navbar-default .navbar-brand:hover {
  color: #777;
}
.navbar-default {
  border-radius: 0;
  box-shadow: 0px -1px 10px;
  background: white;
  /*border-color:#ff6961;*/
}
body {
  padding-top: 50px;
}
.row-m-t {
  margin-top: 20px;
}
.row-table-head {
  border-bottom: 2px solid #ddd;
  margin-bottom:10px;
}
.btn-xs-space {
  margin-right: 5px;
}
#home-overlay {
  color: white;
  padding-top:5%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 25px rgba(0,0,0,0.1);
}
.jumbotron-clear {
  background: transparent;
}
.header-jumbo {
  background: #ff6961;
  color: white;
}
* {
  font-family: Arial;
}
