main {
  width:100%;
  height: 65vh;
  text-align:center;
  background-color: rgb(250, 56, 56);
  color: white;
  padding-top:35vh;
}
h2 {
text-align: center;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.navList > li {
  list-style: none;
  display: inline;
  padding-right:15px;
  font-size:10px;
}
nav {
  position:fixed;
}
#events, #about {
  padding: 30px 10vw;
}
body {
  margin:0px;
}
a {
  padding:5px;
  background-color:white;
  color:rgb(250, 56, 56);
  transition:0.75s;
}
a:hover, a:active {
  background-color:rgb(250, 56, 56);
  color: white;
}
table {
  width:100%;
  font-size:14px;
}
th, td {
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  vertical-align:top;
}
.tableHead {
  border-bottom: 2px solid gray;
}
/*why in tarnation are the borders not appearing?? why aren't the tr margins working either?? what is life*/
.tableBody {
  border-bottom:1px solid gray;
}
p {
  font-size:14px;
}
#footer {
  width:100vw;
  color:white;
  text-align: center;
  padding:20px;
  background-color: rgb(250, 56, 56);
}
